@charset "UTF-8";
/*マテリアルスイーツ　css */
body{
  font-family:"Yu Gothic",YuGothic,"MS Pゴシック",Meiryo;
  font-size:16px;
  background-image:url(images/gold_back.jpg);
  background-repeat:repeat-y;
}
/* リセット css */
h1,h2,h3,h4,p,ul,li,{
  margin:0;
  padding:0;
}
/* ヘッダー　css */
